* {
    margin:0;
    padding: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
}

#header {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    width: 100vw;
    padding: 0.8rem 0;
    background-color: aliceblue;
}
#header ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15vw;
}
#header li {
    list-style: none;
    padding: 5px 15px;
    border-right: 1px solid black;
}
#header li:nth-child(5) {
    border-right: none;
}

#header a {
    color: black;
    text-decoration: none;
    font-weight: 700;
}
#header a:hover {
    font-weight: 900;
    text-decoration: underline;
    transition: transform 0.7s ease;
}

.left-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-pic {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 0.5rem;
}
#principal {
    padding: 6rem;
    margin: 0 auto;
    width: 70vw;
}

#about {
    background-color: #D1FFFD;
    border: 1px solid cadetblue;
    border-radius: 8px;
    height: 260px;
    text-align: center;
    padding: 2rem 4rem;
    margin-top: 2rem;
}
#about h2 {
    font-size: 2.4rem;
    padding-bottom: 2rem;
}

#about p {
    font-size: 1.2rem;
    text-align: justify;
    text-indent: 45px;
    line-height: 1.5rem;
}

#skills {
    background-color: #D1FFE6;
    border: 1px solid cadetblue;
    border-radius: 8px;
    padding: 2rem 4rem;
}

#skills h2 {
    font-size: 2.4rem;
    padding: 2rem 1rem
}
#skills h3 {
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
}

#skills ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 140px;
    margin-bottom: 2rem;
}
#skills li {
    list-style: none;
    width: 87px;
    height: 25px;
    align-self: center;
    margin-left: 12px;
    background-color: #2CEAF2;
    text-align: center;
    padding-top: 5px;
    border: 2px solid #DDD;
    border-radius: 8px;
}
.exp {
    background-color: #DEF797;
}
section {
    margin: 0 auto;
}

aside {
    display: none;
}